<div class="w-dyn-item">
    <div class="post-wrapper">
        <div><a class="blog-title-link w-inline-block" href="/posts/{{post.slug}}"><h1
                class="blog-title">{{post.title}}</h1></a>
                {{> postinfo}}
            <p class="post-summary">{{post.desc}}</p>
            <a class="button-round w-button" href="/posts/{{post.slug}}">Continue reading →</a>
        </div>
    </div>
</div>