{{#extend "title"}}
    <title>Anh Nguyen's blog - {{category.text}}</title>
{{/extend}}

<div class="w-container">
    <h1 class="section-header">{{category.text}}</h1>
    <div class="w-dyn-list">
        <div class="w-dyn-items">
            {{#each posts}}
                {{>postitem post=.}}
            {{/each}}
        </div>
    </div>
</div>