{{#extend "title"}}
    <title>Anh Nguyen's blog - Curriculum vitae</title>
{{/extend}}

<div class="w-container">
    <div class="body-copy w-richtext"><h1>Curriculum Vitae</h1>

        <div style="text-align: center; margin-top: 40px;">
            <iframe src="https://drive.google.com/file/d/12VFMubz8IldDnF30JfJL-ZBQZzccBof_/preview" width="900" height="1000">
            </iframe>
        </div>
    </div>
</div>