<div class="w-container">
    <div class="post-title-section"><h1>{{post.title}}</h1>
        {{> postinfo}}
    </div>
    <div class="body-copy w-richtext">
        {{{post.content}}}
    </div>
    <div class="button-wrapper"><a href="/posts" class="button w-button">←&nbsp;View all posts</a></div>
</div>